.svg-container {
    position: relative;
  }
  
  svg {
    max-width: 100%;
    height: auto;
  }
  
  text {
    white-space: pre;
  }
  
  .absolute-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }