<div *ngIf="detailedReport" class="a4-size">
    <app-page1></app-page1>
    <div class="page-break"></div>
    <app-page2 [detailedReport]="detailedReport"></app-page2>
    <div class="page-break"></div>
    <app-page3 [detailedReport]="detailedReport"></app-page3>
    <div class="page-break"></div>
    <app-page4 [detailedReport]="detailedReport"></app-page4>
    <div class="page-break"></div>
    <app-page5 [detailedReport]="detailedReport"></app-page5>
    <div class="page-break"></div>
    <app-page6 [detailedReport]="detailedReport"></app-page6>
    <div class="page-break"></div>
    <app-page7 [detailedReport]="detailedReport"></app-page7>
    <div class="page-break"></div>
    <app-page8 [detailedReport]="detailedReport"></app-page8>
    <div class="page-break"></div>
    <app-page9 [detailedReport]="detailedReport"></app-page9>
    <div class="page-break"></div>
    <app-page10 [detailedReport]="detailedReport"></app-page10>
    <div class="page-break"></div>
    <app-page11 [detailedReport]="detailedReport"></app-page11>
    <div class="page-break"></div>
    <app-page12 [detailedReport]="detailedReport"></app-page12>
    <div class="page-break"></div>
    <app-page13 [detailedReport]="detailedReport"></app-page13>
    <div class="page-break"></div>
    <app-page14 [detailedReport]="detailedReport"></app-page14>
    <div class="page-break"></div>
    <app-page15 [detailedReport]="detailedReport" [careerMapping]="careerMapping"
        [topAptiCategoryWiseScoresDisplay]="topAptiCategoryWiseScoresDisplay.join(',')"></app-page15>
    <div class="page-break"></div>
    <app-page16 [detailedReport]="detailedReport"></app-page16>
    <div class="page-break"></div>
    <app-page17 [detailedReport]="detailedReport"></app-page17>
    <div class="page-break"></div>
    <app-page18 [detailedReport]="detailedReport"></app-page18>
    <div class="page-break"></div>
    <app-page19 [detailedReport]="detailedReport"></app-page19>
</div>